<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "~{admin/fragment/head :: head}"></head>
<body>

<div class="app">

    <header class="header" th:replace = "~{admin/fragment/header :: header}">
    </header>

    <div class="container">
        <div class="grid__row">

            <div class="grid__column-menu" th:replace = "~{admin/fragment/menu :: menu}">
            </div>

            <div class="grid__column-container">
                <div class="container__container">
                    <div class="container__overview">
                        <h1 class="container__overview-heading">Chào mừng đến với bảng điều khiển</h1>
                        <ul class="container__overview-panel">
                            <li class="container__overview-panel-item">
                                <a href="" class="container__overview-panel-item-link1">Tất cả loại sản phẩm</a>
                                <hr>
                                <span class="container__overview-panel-item-quanty">666</span>
                            </li>
                            <li class="container__overview-panel-item">
                                <a href="" class="container__overview-panel-item-link2">Tất cả thương hiệu</a>
                                <hr>
                                <span class="container__overview-panel-item-quanty">666</span>
                            </li>
                            <li class="container__overview-panel-item">
                                <a href="" class="container__overview-panel-item-link3">Tất cả người dùng</a>
                                <hr>
                                <span class="container__overview-panel-item-quanty">666</span>
                            </li>
                            <li class="container__overview-panel-item">
                                <a href="" class="container__overview-panel-item-link4">Tất cả đơn hàng</a>
                                <hr>
                                <span class="container__overview-panel-item-quanty">666</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assets/admin/js/index.js}"></script>
</body>
</html>