<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="slide" th:fragment="slide">
    <div class="slide__list">
        <div class="slide__list-img">
            <img th:src="@{/assets/img/sg-11134258-7rdvk-lxkyhlwev3zd7f_xxhdpi.jpg}" alt="">
            <img th:src="@{/assets/img/sg-11134258-7rdvz-lxkvt9lo7xcv3a_xxhdpi.jpg}" alt="">
            <img th:src="@{/assets/img/sg-11134258-7rdwg-lxkwpim3ar2i5b_xhdpi.jpg}" alt="">
            <img th:src="@{/assets/img/sg-11134258-7rdyh-lxkvzrytc0qy47_xxhdpi.jpg}" alt="">
            <img th:src="@{/assets/img/sg-11134258-7rdyn-lxm7t19ejtzz74_xxhdpi.jpg}" alt="">
            <img th:src="@{/assets/img/sg-11134258-7rdyp-lxkvmviswwwa09_xxhdpi.jpg}" alt="">
            <img th:src="@{/assets/img/sg-11134258-7rdys-lxkvgk33qmll7e_xxhdpi.jpg}" alt="">
            <img th:src="@{/assets/img/sg-11134258-7rdyw-lxkwvy04ncdc1e_xhdpi.jpg}" alt="">
        </div>
        <div class="btn">
            <div class="btn-left"><i class='bx bxs-chevron-left btn-left-icon' ></i></div>
            <div class="btn-right"><i class='bx bxs-chevron-right btn-right-icon' ></i></div>
        </div>
        <div class="index-images">
            <div class="index-item index-item-0 index-item__active"></div>
            <div class="index-item index-item-1"></div>
            <div class="index-item index-item-2"></div>
            <div class="index-item index-item-3"></div>
            <div class="index-item index-item-4"></div>
            <div class="index-item index-item-5"></div>
            <div class="index-item index-item-6"></div>
            <div class="index-item index-item-7"></div>
        </div>
    </div>
    <div class="slide__list2">
        <img th:src="@{/assets/img/sg-11134258-7rdys-lxkvgk33qmll7e_xxhdpi.jpg}" alt="">
        <img th:src="@{/assets/img/sg-11134258-7rdyw-lxkwvy04ncdc1e_xhdpi.jpg}" alt="">
    </div>
</div>