:root {         /* lớp giả */
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;

}

*{  /* box-sizing(kích thước hộp): là nguyên kích thước hộp. khi bị padding và border làm tăng kích thước hộp lên thì box-sizing sẽ giữ nguyên thích thước là with chúng ta đặt ra */
    box-sizing: inherit; /* inherit là kế thừa lại box-sizing: border-box;*/
}

/* font chữ và chiều cao chữ ... mặt định*/
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;   /* kiểu chữ không có chân */
    box-sizing: border-box;
}


.grid{
    width: 1600px;  /* màn hình lớn hơn 1200px thì max là 1200px */
    max-width: 100%;/* màn hình nhỏ hơn 1200px thì nó sẽ bằng kích thước màn hình 100% */
    margin: 0 auto;

}

.grid_full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
}
.grid__column-menu{
    width: 20%;
    height: 900px;
    background-color: var(--black-color);
}
.grid__column-container{
    width: 80%;
    height: 900px;
    background-color: var(--white-color);
}

hr{
    z-index: 1;
    background-color: red;
    height: 1px;
}